---
layout: page
title: Contact Me
heading: Contact
subheading: Get in touch with me.
---

<div>
  <h1>Contact Me.</h1>
  <hr>
  <div class="row">
    <i class="fa fa-comment fa-2x fa-pull-left fa-border" style="vertical-align:middle" aria-hidden="true"></i>If you want to get in touch with me you can drop me an <a href="#email">email</a>, <a href="#twitter">tweet me</a>, check me out on <a href="#linkedin">linkedin</a>, send me something in the <a href="#postal">post</a>, or via <a href="#postal">carrier pigeon</a>.
  </div>

  <div style="padding-top: 2em; padding-bottom: 2em">
    <center>
      <i class="fa fa-circle-o" aria-hidden="true"></i>
    </center>
  </div>

  <div class="row">
    <h2 id="email"><i class="fa fa-envelope-o fa-2x" style="vertical-align:middle" aria-hidden="true"></i>&nbsp;&nbsp;email.</h2>
    <hr>
      <center>
        <ul class="list-unstyled">
          <li><i class="fa fa-envelope" style="vertical-align:middle" aria-hidden="true"></i>&nbsp;&nbsp;science@robertfirth.co.uk</li>
          <li><i class="fa fa-envelope" style="vertical-align:middle" aria-hidden="true"></i>&nbsp;&nbsp;contact@robertfirth.co.uk</li>
        </ul>
      </center>
  </div>

  <div style="padding-top: 2em; padding-bottom: 2em">
    <center>
      <i class="fa fa-circle-o" aria-hidden="true"></i>
    </center>
  </div>

  <div class="row">
    <h2 id="twitter"><i class="fa fa-twitter fa-2x" style="vertical-align:middle" aria-hidden="true"></i>&nbsp;&nbsp;twitter</h2>
    <hr>

      {% include twitterfeed.html %}

  </div>

  <div style="padding-top: 2em; padding-bottom: 2em">
    <center>
      <i class="fa fa-circle-o" aria-hidden="true"></i>
    </center>
  </div>

  <div class="row">
    <h2><i class="fa fa-pencil-square fa-2x" style="vertical-align:middle" aria-hidden="true"></i>&nbsp;&nbsp;Address</h2>
    <hr>
    <div id="postal" class="text-center center">
      <h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Dr. Robert Firth</h3>
      Room 4055<br>
      Building 46<br>
      School of Physics and Astronomy</br>
      University of Southampton<br>
      Southampton, SO17 1BJ<br>
    </div>
  </div>

  <div style="padding-top: 2em; padding-bottom: 2em">
    <center>
      <i class="fa fa-circle-o" aria-hidden="true"></i>
    </center>
  </div>

  <div class="row">
      <h2 id="linkedin"><i class="fa fa-linkedin-square fa-2x" style="vertical-align:middle" aria-hidden="true"></i>&nbsp;&nbsp;Linkedin</h2>
      <hr>
      <center>
        {% include linkedinbutton.html %}
      </center>
  </div>

  <div style="padding-top: 2em; padding-bottom: 2em">
    <center>
      <i class="fa fa-circle-o" aria-hidden="true"></i>
    </center>
  </div>
  
</div>
