---
layout: page
title: {{ site.name }}
---

<div>
  <h1>Contact Me.</h1>
    <h2>email.</h2>
      <ul>
        <li>contact@robertfirth.co.uk</li>
        <li>science@robertfirth.co.uk</li>
      </ul>
    <h2>twitter</h2>

      {% include twitterfeed.html %}

    <h2>Address</h2>
      <strong>Dr. Robert Firth</strong>
      Room 4055<br>
      Building 46<br>
      School of Physics and Astronomy</br>
      University of Southampton<br>
      Southampton, SO17 1BJ<br>

    <h2>Linkedin</h2>
    {% include linkedinbutton.html %}

</div>
