---
layout: page
title: My Publications
heading: Publications
subheading: Here are the publications and posters that I have authored or contributed to
---

<h1>Publications</h1>
<p>
  On this page I have collected the title, abstracts and links (where possible) to my published work, both as a first author and as a contributing author, and presentations, both talks and posters.
  If you have any questions about me work, please drop me an email on <a href="#">science@robertfirth.co.uk</a>, or head to the <a href="contact">contact page</a> for more ways to get in touch.
</p>
<hr>
<center><h2>PhD Thesis</h2></center>

  {% include_relative _publications/Thesis2017.html %}

<hr>
<h1>Articles</h1>
<hr>

<center><h2>First Author Papers</h2></center>

  {% include_relative _publications/Firth2016.html %}

<hr>

<center><h2>Co-Author Papers</h2></center>

  {% include_relative _publications/Cartier2017.html %}

<hr>

  {% include_relative _publications/Smartt2017.html %}

<hr>

<h1>Presentations</h1>
<hr>

<center><h2>Posters</h2></center>

  {% include_relative _posters/STAGposter.html %}

<hr>

  {% include_relative _posters/CAASTROposter.html %}

<hr>

<center><h2>Talks</h2></center>
