<!-- Belongs at: /_includes/navigation.html -->

<!-- <ul class="nav">
  <li {% if page.url == '/javascript/' %}class="active" {% endif %}><a class='page-link' href="/javascript/">Javascript</a></li>
  <li {% if page.url == '/datavis/' %}class="active" {% endif %}><a class='page-link' href="/datavis/">DataVis</a></li>
  <li {% if page.url == '/hackreactor/' %}class="active" {% endif %}><a class='page-link' href="/hackreactor/">HackReactor</a></li>
  <li {% if page.url == '/about/' %}class="active" {% endif %}><a class='page-link' href="/about/">About</a></li>
</ul> -->
<div class="topnav" id="myTopnav">
  <a href="/">Rob Firth</a>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/posts">Posts</a>
  <a href="/contact">Contact</a>
</div>
